body{
	margin:0;
	padding:0;
}


header{
  background-color: #000080;
}

input{
  margin:1%;
  padding:1%;
}

a{
	margin:1%;
}

.imagen{
	float:left;
}

.botonesImagen{
	position: relative;
	top:0;
	left:0;
}

img{
  height:150px;
  width:150px;
  object-fit:cover;
  z-index:-1;
  overflow: hidden;
	position:relative;
	left:0;
	top:0;
}

img:hover{
	z-index:0;
}
